* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: azure;
    padding: 15px;
}

nav {
    padding: 15px;
}

.animation1 {
    height: 100px;
    width: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    animation-name: anim1;
    animation-duration: 4s;
}
@keyframes anim1 {
    from { background-color: red; }
    to {background-color: yellow;}
}

.animation2 {
    height: 100px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    animation-name: anim2;
    animation-duration: 4s;
}
@keyframes anim2 {
    0% { background-color: red; }
    25% { background-color: yellow; }
    50% { background-color: blue; }
    75% { background-color: green; }
}

.animation3 {
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: anim3;
    animation-duration: 4s;
}
@keyframes anim3 {
    0% { background-color: red; left: 0; top: 0; }
    25% { background-color: yellow; left: 200px; top: 0; }
    50% { background-color: blue; left: 200px; top: 200px; }
    75% { background-color: green; left: 0; top: 200px; }
    100% { background-color: red; left: 0; top: 0; }
}

.animation4 {
    height: 100px;
    width: 100px;
    position: relative;
    background-color: red;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: anim4;
    animation-duration: 4s;
     animation-delay: 4s;  /*Negative values -2s also will takes*/
}
@keyframes anim4 {
    0% { background-color: red; left: 0; top: 0; }
    25% { background-color: yellow; left: 200px; top: 0; }
    50% { background-color: blue; left: 200px; top: 200px; }
    75% { background-color: green; left: 0; top: 200px; }
    100% { background-color: red; left: 0; top: 0; }
}

.animation5 {
    height: 100px;
    width: 100px;
    position: relative;
    background-color: red;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: anim5;
    animation-duration: 4s;
    animation-iteration-count: 5;  /* "infinite"  will */
}
@keyframes anim5 {
    0% { background-color: red; left: 0; top: 0; }
    25% { background-color: yellow; left: 200px; top: 0; }
    50% { background-color: blue; left: 200px; top: 200px; }
    75% { background-color: green; left: 0; top: 200px; }
    100% { background-color: red; left: 0; top: 0; }
}

.animation6 {
    height: 100px;
    width: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: relative;
    animation-name: anim6;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
    /* normal; -The animation is played as normal (forwards). This is default
    reverse: -The animation is played in reverse direction (backwards)
    alternate; -The animation is played forwards first, then backwards
    alternate-reverse; -The animation is played backwards first, then forwards*/
}
@keyframes anim6 {
    0% { background-color: red; left: 0; top: 0; }
    25% { background-color: yellow; left: 200px; top: 0; }
    50% { background-color: blue; left: 200px; top: 200px; }
    75% { background-color: green; left: 0; top: 200px; }
    100% { background-color: red; left: 0; top: 0; }
}

.animation7 {
    height: 50px;
    width: 100px;
    background-color: red;
    position: relative;
    animation: mymove 5s infinite;
}
#anim71 { animation-timing-function: linear; }
#anim72 { animation-timing-function: ease; }
#anim73 { animation-timing-function: ease-in; }
#anim74 { animation-timing-function: ease-out; }
#anim75 { animation-timing-function: ease-in-out;}
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
  }

/* .animation8 {
    height: 100px;
    width: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;

     animation-name: anim8;
     animation-duration: 5s;
     animation-timing-function: linear;
     animation-delay: 2s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
} */

.animation8 { 
    height: 100px;
    width: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: relative;

    animation:  anim8 5s linear 2s infinite alternate; } 

    @keyframes anim8 {
        0%   {background-color:red; left:0px; top:0px;}
        25%  {background-color:yellow; left:200px; top:0px;}
        50%  {background-color:blue; left:200px; top:200px;}
        75%  {background-color:green; left:0px; top:200px;}
        100% {background-color:red; left:0px; top:0px;}
      }