* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: bisque;
    padding: 20px;
}

.tablink {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    padding: 14px 16px;
    font-size: 16px;
    width: 25%;
    float: left;
    cursor: pointer;
}
.tablink:hover { background-color: #777; }
.tabcontent { 
    display: none;
    color: white;
    padding: 150px;
    text-align: center;
 }
 #Home { background-color: red; }
 #About { background-color: green; }
 #Contacts { background-color: blue; }
 #Services { background-color: orange; }