* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.container {
    display: flex;
}

.card {
    border: 2px solid sandybrown;
    padding: 20px 10px;
    margin: 20px 10px;
    background-color:bisque;

    /* Syntax: box-shadow: offset-x offset-y color */
    /* box-shadow: 7px 15px springgreen; */

    /* Syntax: box-shadow: negative-offset-x negative-offset-y color */
    /* box-shadow: -7px -5px springgreen; */

    /* Syntax: box-shadow: offset-x offset-y blur-radius color */
    /* box-shadow: 7px 5px 10px springgreen; */

    /* Syntax: box-shadow: offset-x offset-y blur-radius spread-radius color */
    box-shadow: 7px 5px 10px 5px springgreen;


}