* {
    box-sizing: border-box;
  }

.input1[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid red;
    border-radius: 4px;
}

.input2[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    background-color:cadetblue;
    color: white;
}

.input3[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
}
.input3[type=text]:focus {
    border-bottom: 3px solid red;
}

.focusInput[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 3px solid #ccc;
    outline: none;
}
.focusInput[type=text]:focus {
    /* background-color: lightblue; */
    border: 3px solid #555;
}

.iconInput[type=text] {
    background-color: white;
    border: 2px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px 12px 40px;
    border-radius: 4px;
    font-size: 16px;
    background-image: url(../Assets/icons8-search-30.png);
    background-position: 5px 5px;
    background-repeat: no-repeat;
}

.animatedSearch[type=text] {
    width: 150px;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px 12px 40px;
    font-size: 16px;
    background-image: url(../Assets/icons8-search-30.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    transition: width   1s ease-in-out;
}

.animatedSearch[type=text]:focus {
    width: 100%;
}

textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    background-color: beige;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    resize: none;
}

select {
    width: 100%;
    background-color: #F1F1F1;
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


/* FORM LAYOUT */
.container {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
}

/* Clear floats after the columns */
.row::after {
    content: '';
    display: table;
    clear: both;
}

.col-25 {
    width: 25%;
    float: left;
    margin-top: 6px;
}

.col-75 {
    width: 75%;
    float: left;
    margin-top: 6px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.formInput[type=text], .formSelect, .formTextarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.formSubmit {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}

.formSubmit[type="submit"]:hover {
    background-color: #45a049;
}



